.layer {
    bottom    : -50px;
    left      : 15px;
    right     : 15px;
    text-align: center;
    opacity   : 0;
    transition: opacity 0.5s, bottom 0.5s;
}

.item:hover .layer {
    opacity: 1;
    bottom : 15px;
}

.item {
    cursor: pointer;
}

#boxContainer {
    position        : fixed;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    background-color: rgba(0, 0, 0, 0.3);
    display         : none;
    justify-content : center;
    align-items     : center;
}

#innerBox {
    width           : 50%;
    height          : 500px;
    background-image: url(../images/portfolio-1.jpg);
    background-size : cover;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
}

#innerBox i {
    font-size: 30px;
    cursor: pointer;
}